<div class="container shadow-lg">
  <% if (message) { %>
    <div
    class="alert alert-<%= message.type%> alert-dismissible fade show border-0 shadow-sm animate__animated animate__flipInX"
    role="alert"
    style="
      width: 300px;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 10px;
      margin-right: 10px;
      z-index: 1;
    "
  >
    <strong><%= message.message%></strong><hr>
    <%= message.desc%>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
</div>
