
<div class="container">
    <div class="row">
        <table class="text-center shadow-sm my-2 table table-hover">
            <thead class="bg-primary-subtle">
                <tr class="text-primary-emphasis py-3">
                    <th>#</th>
                    <th>Image</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Profession</th>
                    <th>No of Search</th>
                    <th>search history</th>
                </tr>
            </thead>
            <tbody >
                <tr class="py-3">
                    <td>1</td>
                    <td><img src="img/node.png" alt="" width="20px"></td>
                    <td>Node</td>
                    <td>mode@gmail.com</td>
                    <td>male</td>
                    <td>Development</td>
                    <td>6</td>
                    <td><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0d6efd" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3z"/></svg></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="img/node.png" alt="" width="20px"></td>
                    <td>Node</td>
                    <td>mode@gmail.com</td>
                    <td>male</td>
                    <td>Development</td>
                    <td>6</td>
                    <td><a href="/user"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0d6efd" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3z"/></svg></a></td>
                </tr>
            </tbody>
            <tfoot class="bg-primary-subtle">
                    <tr>
                        <th colspan="8">                   
                                <h5 class="py-1 text-primary-emphasis">Coded with 💙</h5>
                        </th>
                    </tr>
            </tfoot>
        </table>
    </div>
</div>
