<div class="container mt-2">
    <table class="table text-center">
        <thead class="bg-primary-subtle">
            <tr class="py-2 text-primary-emphasis">
                <th>#</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Train Date</th>
                <th>searched Date</th>
                <th>searched Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mysore</td>
                <td>Banglore</td>
                <td>12-1-2023</td>
                <td>12 feb</td>
                <td>9:30 AM</td>
            </tr>
        </tbody>
        <tfoot class="bg-primary-subtle">
            <tr>
                <th colspan="7">                   
                        <h5 class="py-1 text-primary-emphasis">Coded with 💙</h5>
                </th>
            </tr>
    </tfoot>
    </table>
</div>