    <!-- Footer Section -->
    <footer>
        <p>Coded with ❤️ by <a href="/team">#TEAM7⚡</a></p>
</footer>

<script>
    function validateInput(){
        let sname = document.forms['RailwayForm']['source'].value;
        let dname = document.forms['RailwayForm']['dest'].value;
        if(sname === dname)
        {
            alert("Both Source and Destination Cannot be same !")
            return false;
        } 
    }
</script>
</body>
</html>