<%- include('partials/_header') %>


<div class="container text-center bg-primary-subtle mt-3 border border-primary-subtle rounded" id="error">
    <h1 style="font-size: 500px;" class="text-primary-emphasis">404</h1>
</div>

<div class="container text-center">
    <div class="mt-2">
        <h5>Opps! Someting Went Wrong.</h5>
    <h6 class="text-primary-emphasis">Please wait for <span id="Tsec" class="text-warning-emphasis">0.00</span> sec . you will be redirected !</h6>
    </div>
</div>

<script>
    const timeH = document.getElementById('Tsec')
    let tsec = 5

    timeH.innerHTML = `0.${tsec}`
    const countDown = function(){
        if( tsec <= 0){
        clearInterval(tsec)
        document.location.href = '/'

    }else{
        tsec--
        timeH.innerHTML = `0:${tsec}`
    }
        
    }
    setInterval(countDown,1000)
</script>
<%- include('partials/_footer') %>