<%- include('partials/_header') %>

<%- include('partials/_nav') %>

<!-- user logs -->

<!-- admin logs -->

<div class="container">
    <div class="card shadow-sm mt-3 border-0">
        <div class="card-header text-center border-0 bg-primary-subtle">
            <div class="card-title text-primary">
                <h5>Username</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-lg-3 text-center">
                    <img src="img/node.png" width="100px" class="my-5">
                </div>
                    <div class="col col-lg-3 border-end border-primary-subtle text-primary-emphasis my-4 text-center">
                        <h6>Email</h6>
                        <h6>Role</h6>
                        <h6>Gender</h6>
                        <h6>Profession</h6>
                        <h6 class="text-danger">Created On</h6>
                        <h6 class="text-danger">Created At</h6>
                    </div>
                    <div class="col col-lg-3 my-4 text-dark-emphasis border-start border-primary-subtle">
                        <h6>node@gmail.com</h6>
                        <h6>client</h6>
                        <h6>Male</h6>
                        <h6>Student</h6>
                        <h6 class="text-warning">17th Feb</h6>
                        <h6 class="text-warning">12:30 PM</h6>
                    </div>
                <div class="col col-lg-3">
                    <div class="my-3 text-center">
                        <!-- user -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="green" d="M10.95 15.55L16.6 9.9l-1.425-1.425L10.95 12.7l-2.1-2.1l-1.425 1.425l3.525 3.525ZM12 22q-3.475-.875-5.737-3.988T4 11.1V5l8-3l8 3v6.1q0 3.8-2.263 6.913T12 22Z"/></svg>
                        <p class="text-primary">User</p>
                        <h1 class="text-warning">Role</h1>
                        <!-- admin -->
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="orange" d="M12 12h7c-.53 4.11-3.28 7.78-7 8.92V12H5V6.3l7-3.11M12 1L3 5v6c0 5.55 3.84 10.73 9 12c5.16-1.27 9-6.45 9-12V5l-9-4Z"/></svg>
                        <p class="text-primary">Admin</p>
                        <h1 class="text-success">Role</h1> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<%- include('partials/_userlogs') %> 





<%- include('partials/_footer') %>