<%- include('partials/_header') %>

<%- include('partials/_nav') %>

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-success-subtle text-success-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Users</h5>
                </div>
                <div class="card-body">
                    <h2>100</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-primary-subtle text-primary-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Searches</h5>
                </div>
                <div class="card-body">
                    <h2>100</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-warning-subtle text-warning-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Cities</h5>
                </div>
                <div class="card-body">
                    <h2>100</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-info-subtle text-info-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Trains</h5>
                </div>
                <div class="card-body">
                    <h2>100</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_usertable') %>

