<%- include('partials/_header') %>

<%- include('partials/_notify') %>

<div class="container mt-5">
    <h1 class="text-center text-primary-emphasis">Railway | Sign In</h1>
</div>

<!-- Sign Up Form -->
<div class="container my-5">

    <div class="row">
        <div class="col col-lg-6 mx-auto">
          <div class="card shadow-sm border border-0 rounded-2">

            <div class="card-title text-center p-3 mb-2 bg-primary-subtle my-auto rounded-top">
              <h4 class="text-primary-emphasis ">Sign In</h4>
            </div>
            <div class="card-body">
              <form action="/signin" method="post">   
              <!-- email -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                  name="email"
                />
              </div>
    
              <!-- password -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Password"
                  name="password"
                />
              </div>

              <!-- submit button -->
              <div class=" mx-auto text-center">
                    <button type="submit" class="btn btn-lg bg-primary-subtle text-primary-emphasis">
                      Sign in
                    </button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

</div>

<!-- Sign In link -->
<div class="container text-center">
    <p>Dont have an account? <a href="/signup">Signup here</a></p>
</div>




<%- include('partials/_footer') %>
