<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Ticket | Availabilty ?</title>
    <!-- Style Sheet -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Google Fonts Link (Roboto Mono) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  
    <style>
        header a img{
            width: 50px;
            position: absolute;
            left: 10px;
            margin-top: 6px;
        }
        /* child 1 */
        
        .child1{
            position: absolute;
            width: 300px;
            height: 300px;
            border: 2px solid #0099ff;
            text-align: center;
            margin-top: 10px;
            border-radius: 5px;
            margin-left: 30%;
            color: #0099ff;
        }
        .child1 img {
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
        .child1 a {
           text-decoration: none;
           color: #0099ff;
        }

        /* child 2 */
        .child2{
            position: absolute;
            width: 300px;
            height: 300px;
            border: 2px solid #0099ff;
            text-align: center;
            margin-top: 10px;
            border-radius: 5px;
            margin-left: 50%;
            color: #0099ff;
        }
        .child2 img {
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
        .child2 a {
           text-decoration: none;
           color: #0099ff;
        }

        /* child 3 */
        .child3{
            position: absolute;
            width: 300px;
            height: 300px;
            border: 2px solid #0099ff;
            text-align: center;
            margin-top: 21%;
            border-radius: 5px;
            margin-left: 30%;
            color: #0099ff;
        }
        .child3 img {
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
        .child3 a {
           text-decoration: none;
           color: #0099ff;
        }

        /* child 4 */
        .child4{
            position: absolute;
            width: 300px;
            height: 300px;
            border: 2px solid #0099ff;
            text-align: center;
            margin-top: 21%;
            border-radius: 5px;
            margin-left: 50%;
            color: #0099ff;
        }
        .child4 img {
            width: 100px;
            height: 100px;
            margin-top: 10px;
        }
        .child4 a {
           text-decoration: none;
           color: #0099ff;
        }
     
    </style>

</head>
<body>
        <!-- Headder Section -->
        <header>
            <a href="/"><img src="https://img.icons8.com/fluency/48/000000/circled-left.png"/></a>
            <p>Railway Ticket Availabilty</p>
        </header>

        <div class="parent">
            <div class="child1">
                <img src="../images/nandan.png" alt="Nandan-avatar">
                <h1>Nandan S</h1>
                <br>
                <h3>4VM19IS021</h3>
                <br>
                <h4><a href="mailto:thenandansrinivas@outlook.com">thenandansrinivas@outlook.com</a></h4>
                <h4><a href="tel:+91 8150003002">+91 815003002</a></h4>
            </div>
            <div class="child2">
                <img src="../images/ashwij.png" alt="Nandan-avatar">
                <h1>Ashwij CK</h1>
                <br>
                <h3>4VM19CS011</h3>
                <br>
                <h4><a href="mailto:ashwijck@gmail.com">ashwijck@gmail.com</a></h4>
                <h4><a href="tel:+91 9900374898">+91 9900374898</a></h4>
            </div>
            <div class="child3">
                <img src="../images/mithun.png" alt="Nandan-avatar">
                <h1>Mithu Sathya HS</h1>
                <br>
                <h3>4VM19IS019</h3>
                <br>
                <h4><a href="mailto:mithun3106@icloud.com">mithun3106@icloud.com</a></h4>
                <h4><a href="tel:+91 78927 73981">+91 78927 73981</a></h4>
            </div>
            <div class="child4">
                <img src="../images/nikhil.png" alt="Nandan-avatar">
                <h1>Nikhil CT</h1>
                <br>
                <h3>4VM20IS401</h3>
                <br>
                <h4><a href="mailto:gowdanikhil066@gmail.com">gowdanikhil066@gmail.com</a></h4>
                <h4><a href="tel:+91 9164516187">+91 9164516187</a></h4>
            </div>
        </div>
            <!-- Footer Section -->
        <footer>
            <p>Coded with ❤️ by <a href="/team">#TEAM7⚡</a></p>
        </footer>
</body>
</html>